    CPU<br>
    {{ ansible_processor }}<br>
    --------------<br>
    RAM<br>
    {{ ansible_memory_mb.real.total }}<br>
    ---------------<br>
    ip <br>
    {{ ansible_default_ipv4.address }}<br>
    <br>
    <br>
    <br>
    <a href="http://158.160.41.112:80">BALANCER http server</a>
    <br>
    <a href="http://51.250.95.206:3000">Grafana server</a>
    <br>
    <a href="http://158.160.32.11:5601">Kibana server</a>
