[
  {
    "targets": ["web-1.nedomika:4040"],
    "labels": {
      "job": "web1_nginx_export"
    }
  },
  {
    "targets": ["web-2.nedomika:4040"],
    "labels": {
      "job": "web2_nginx_export"
    }
  },
  {
    "targets": ["web-1.nedomika:9100"],
    "labels": {
      "job": "web1_node_export"
    }
  },
  {
    "targets": ["web-2.nedomika:9100"],
    "labels": {
      "job": "web2_node_export"
    }
  }
]